products/BMA RT/Service References/BMAService/BMAService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BMA.BusinessLogic" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BMA.BusinessLogic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Transaction" nillable="true" type="tns:Transaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransaction" nillable="true" type="tns:ArrayOfTransaction" />
  <xs:complexType name="Transaction">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseItem">
        <xs:sequence>
          <xs:element minOccurs="0" name="Amount" type="xs:double" />
          <xs:element minOccurs="0" name="Category" nillable="true" type="tns:Category" />
          <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NameOfPlace" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TipAmount" type="xs:double" />
          <xs:element minOccurs="0" name="TransactionDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="TransactionId" type="xs:int" />
          <xs:element minOccurs="0" name="TransactionReasonType" nillable="true" type="tns:TypeTransactionReason" />
          <xs:element minOccurs="0" name="TransactionType" nillable="true" type="tns:TypeTransaction" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Transaction" nillable="true" type="tns:Transaction" />
  <xs:complexType name="BaseItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreatedUser" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="HasChanges" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ModifiedUser" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseItem" nillable="true" type="tns:BaseItem" />
  <xs:complexType name="User">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseItem">
        <xs:sequence>
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserId" type="xs:int" />
          <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="Category">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseItem">
        <xs:sequence>
          <xs:element minOccurs="0" name="CategoryId" type="xs:int" />
          <xs:element minOccurs="0" name="FromDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ToDate" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Category" nillable="true" type="tns:Category" />
  <xs:complexType name="TypeTransactionReason">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseItem">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TypeTransactionReasonId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TypeTransactionReason" nillable="true" type="tns:TypeTransactionReason" />
  <xs:complexType name="TypeTransaction">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseItem">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TypeTransactionId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TypeTransaction" nillable="true" type="tns:TypeTransaction" />
  <xs:complexType name="ArrayOfBudget">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Budget" nillable="true" type="tns:Budget" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBudget" nillable="true" type="tns:ArrayOfBudget" />
  <xs:complexType name="Budget">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseItem">
        <xs:sequence>
          <xs:element minOccurs="0" name="Amount" type="xs:double" />
          <xs:element minOccurs="0" name="BudgetId" type="xs:int" />
          <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FromDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="IncludeInstallments" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ToDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Transactions" nillable="true" type="tns:ArrayOfTransaction" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Budget" nillable="true" type="tns:Budget" />
  <xs:complexType name="ArrayOfTypeTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TypeTransaction" nillable="true" type="tns:TypeTransaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTypeTransaction" nillable="true" type="tns:ArrayOfTypeTransaction" />
  <xs:complexType name="StartupInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="BudgetCount" type="xs:int" />
      <xs:element minOccurs="0" name="TargetCount" type="xs:int" />
      <xs:element minOccurs="0" name="TransactionCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StartupInfo" nillable="true" type="tns:StartupInfo" />
</xs:schema>