products/BMA WP/Service References/BMAStaticDataService/Static.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Static" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://win-vvthsubpmki/BMAService/BMAStaticDataService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://win-vvthsubpmki/BMAService/BMAStaticDataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://win-vvthsubpmki/BMAService/BMAStaticDataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BMA.BusinessLogic" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStatic_GetDBStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDBStatus" />
  </wsdl:message>
  <wsdl:message name="IStatic_GetDBStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDBStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IStatic_AuthenticateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateUser" />
  </wsdl:message>
  <wsdl:message name="IStatic_AuthenticateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IStatic_RegisterUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUser" />
  </wsdl:message>
  <wsdl:message name="IStatic_RegisterUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUserResponse" />
  </wsdl:message>
  <wsdl:message name="IStatic_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="IStatic_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IStatic_ForgotPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ForgotPassword" />
  </wsdl:message>
  <wsdl:message name="IStatic_ForgotPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ForgotPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IStatic_GetAllStaticData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStaticData" />
  </wsdl:message>
  <wsdl:message name="IStatic_GetAllStaticData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStaticDataResponse" />
  </wsdl:message>
  <wsdl:message name="IStatic_GetAllCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCategories" />
  </wsdl:message>
  <wsdl:message name="IStatic_GetAllCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IStatic_GetAllTypeTransactionReasons_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTypeTransactionReasons" />
  </wsdl:message>
  <wsdl:message name="IStatic_GetAllTypeTransactionReasons_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTypeTransactionReasonsResponse" />
  </wsdl:message>
  <wsdl:message name="IStatic_GetAllTypeTransactions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTypeTransactions" />
  </wsdl:message>
  <wsdl:message name="IStatic_GetAllTypeTransactions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTypeTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="IStatic_GetUpcomingNotifications_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUpcomingNotifications" />
  </wsdl:message>
  <wsdl:message name="IStatic_GetUpcomingNotifications_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUpcomingNotificationsResponse" />
  </wsdl:message>
  <wsdl:message name="IStatic_SyncStaticData_InputMessage">
    <wsdl:part name="parameters" element="tns:SyncStaticData" />
  </wsdl:message>
  <wsdl:message name="IStatic_SyncStaticData_OutputMessage">
    <wsdl:part name="parameters" element="tns:SyncStaticDataResponse" />
  </wsdl:message>
  <wsdl:message name="IStatic_SyncCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:SyncCategories" />
  </wsdl:message>
  <wsdl:message name="IStatic_SyncCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:SyncCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IStatic_SyncTypeTransactionReasons_InputMessage">
    <wsdl:part name="parameters" element="tns:SyncTypeTransactionReasons" />
  </wsdl:message>
  <wsdl:message name="IStatic_SyncTypeTransactionReasons_OutputMessage">
    <wsdl:part name="parameters" element="tns:SyncTypeTransactionReasonsResponse" />
  </wsdl:message>
  <wsdl:message name="IStatic_SyncNotifications_InputMessage">
    <wsdl:part name="parameters" element="tns:SyncNotifications" />
  </wsdl:message>
  <wsdl:message name="IStatic_SyncNotifications_OutputMessage">
    <wsdl:part name="parameters" element="tns:SyncNotificationsResponse" />
  </wsdl:message>
  <wsdl:message name="IStatic_SyncTypeTransactions_InputMessage">
    <wsdl:part name="parameters" element="tns:SyncTypeTransactions" />
  </wsdl:message>
  <wsdl:message name="IStatic_SyncTypeTransactions_OutputMessage">
    <wsdl:part name="parameters" element="tns:SyncTypeTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="IStatic_SyncTypeFrequencies_InputMessage">
    <wsdl:part name="parameters" element="tns:SyncTypeFrequencies" />
  </wsdl:message>
  <wsdl:message name="IStatic_SyncTypeFrequencies_OutputMessage">
    <wsdl:part name="parameters" element="tns:SyncTypeFrequenciesResponse" />
  </wsdl:message>
  <wsdl:message name="IStatic_SyncTypeIntervals_InputMessage">
    <wsdl:part name="parameters" element="tns:SyncTypeIntervals" />
  </wsdl:message>
  <wsdl:message name="IStatic_SyncTypeIntervals_OutputMessage">
    <wsdl:part name="parameters" element="tns:SyncTypeIntervalsResponse" />
  </wsdl:message>
  <wsdl:message name="IStatic_SyncBudgetThresholds_InputMessage">
    <wsdl:part name="parameters" element="tns:SyncBudgetThresholds" />
  </wsdl:message>
  <wsdl:message name="IStatic_SyncBudgetThresholds_OutputMessage">
    <wsdl:part name="parameters" element="tns:SyncBudgetThresholdsResponse" />
  </wsdl:message>
  <wsdl:message name="IStatic_SaveCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveCategories" />
  </wsdl:message>
  <wsdl:message name="IStatic_SaveCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IStatic_SaveTypeTransactionReasons_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveTypeTransactionReasons" />
  </wsdl:message>
  <wsdl:message name="IStatic_SaveTypeTransactionReasons_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveTypeTransactionReasonsResponse" />
  </wsdl:message>
  <wsdl:message name="IStatic_SaveNotifications_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveNotifications" />
  </wsdl:message>
  <wsdl:message name="IStatic_SaveNotifications_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveNotificationsResponse" />
  </wsdl:message>
  <wsdl:message name="IStatic_SaveTypeTransactions_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveTypeTransactions" />
  </wsdl:message>
  <wsdl:message name="IStatic_SaveTypeTransactions_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveTypeTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="IStatic_SaveTypeFrequencies_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveTypeFrequencies" />
  </wsdl:message>
  <wsdl:message name="IStatic_SaveTypeFrequencies_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveTypeFrequenciesResponse" />
  </wsdl:message>
  <wsdl:message name="IStatic_SaveTypeIntervals_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveTypeIntervals" />
  </wsdl:message>
  <wsdl:message name="IStatic_SaveTypeIntervals_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveTypeIntervalsResponse" />
  </wsdl:message>
  <wsdl:message name="IStatic_SaveBudgetThresholds_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveBudgetThresholds" />
  </wsdl:message>
  <wsdl:message name="IStatic_SaveBudgetThresholds_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveBudgetThresholdsResponse" />
  </wsdl:message>
  <wsdl:portType name="IStatic">
    <wsdl:operation name="GetDBStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatic/GetDBStatus" message="tns:IStatic_GetDBStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatic/GetDBStatusResponse" message="tns:IStatic_GetDBStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatic/AuthenticateUser" message="tns:IStatic_AuthenticateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatic/AuthenticateUserResponse" message="tns:IStatic_AuthenticateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatic/RegisterUser" message="tns:IStatic_RegisterUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatic/RegisterUserResponse" message="tns:IStatic_RegisterUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatic/ChangePassword" message="tns:IStatic_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatic/ChangePasswordResponse" message="tns:IStatic_ChangePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ForgotPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatic/ForgotPassword" message="tns:IStatic_ForgotPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatic/ForgotPasswordResponse" message="tns:IStatic_ForgotPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllStaticData">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatic/GetAllStaticData" message="tns:IStatic_GetAllStaticData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatic/GetAllStaticDataResponse" message="tns:IStatic_GetAllStaticData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatic/GetAllCategories" message="tns:IStatic_GetAllCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatic/GetAllCategoriesResponse" message="tns:IStatic_GetAllCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTypeTransactionReasons">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatic/GetAllTypeTransactionReasons" message="tns:IStatic_GetAllTypeTransactionReasons_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatic/GetAllTypeTransactionReasonsResponse" message="tns:IStatic_GetAllTypeTransactionReasons_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTypeTransactions">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatic/GetAllTypeTransactions" message="tns:IStatic_GetAllTypeTransactions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatic/GetAllTypeTransactionsResponse" message="tns:IStatic_GetAllTypeTransactions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUpcomingNotifications">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatic/GetUpcomingNotifications" message="tns:IStatic_GetUpcomingNotifications_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatic/GetUpcomingNotificationsResponse" message="tns:IStatic_GetUpcomingNotifications_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SyncStaticData">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatic/SyncStaticData" message="tns:IStatic_SyncStaticData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatic/SyncStaticDataResponse" message="tns:IStatic_SyncStaticData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SyncCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatic/SyncCategories" message="tns:IStatic_SyncCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatic/SyncCategoriesResponse" message="tns:IStatic_SyncCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SyncTypeTransactionReasons">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatic/SyncTypeTransactionReasons" message="tns:IStatic_SyncTypeTransactionReasons_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatic/SyncTypeTransactionReasonsResponse" message="tns:IStatic_SyncTypeTransactionReasons_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SyncNotifications">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatic/SyncNotifications" message="tns:IStatic_SyncNotifications_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatic/SyncNotificationsResponse" message="tns:IStatic_SyncNotifications_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SyncTypeTransactions">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatic/SyncTypeTransactions" message="tns:IStatic_SyncTypeTransactions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatic/SyncTypeTransactionsResponse" message="tns:IStatic_SyncTypeTransactions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SyncTypeFrequencies">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatic/SyncTypeFrequencies" message="tns:IStatic_SyncTypeFrequencies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatic/SyncTypeFrequenciesResponse" message="tns:IStatic_SyncTypeFrequencies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SyncTypeIntervals">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatic/SyncTypeIntervals" message="tns:IStatic_SyncTypeIntervals_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatic/SyncTypeIntervalsResponse" message="tns:IStatic_SyncTypeIntervals_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SyncBudgetThresholds">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatic/SyncBudgetThresholds" message="tns:IStatic_SyncBudgetThresholds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatic/SyncBudgetThresholdsResponse" message="tns:IStatic_SyncBudgetThresholds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatic/SaveCategories" message="tns:IStatic_SaveCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatic/SaveCategoriesResponse" message="tns:IStatic_SaveCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveTypeTransactionReasons">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatic/SaveTypeTransactionReasons" message="tns:IStatic_SaveTypeTransactionReasons_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatic/SaveTypeTransactionReasonsResponse" message="tns:IStatic_SaveTypeTransactionReasons_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveNotifications">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatic/SaveNotifications" message="tns:IStatic_SaveNotifications_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatic/SaveNotificationsResponse" message="tns:IStatic_SaveNotifications_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveTypeTransactions">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatic/SaveTypeTransactions" message="tns:IStatic_SaveTypeTransactions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatic/SaveTypeTransactionsResponse" message="tns:IStatic_SaveTypeTransactions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveTypeFrequencies">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatic/SaveTypeFrequencies" message="tns:IStatic_SaveTypeFrequencies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatic/SaveTypeFrequenciesResponse" message="tns:IStatic_SaveTypeFrequencies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveTypeIntervals">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatic/SaveTypeIntervals" message="tns:IStatic_SaveTypeIntervals_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatic/SaveTypeIntervalsResponse" message="tns:IStatic_SaveTypeIntervals_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveBudgetThresholds">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatic/SaveBudgetThresholds" message="tns:IStatic_SaveBudgetThresholds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatic/SaveBudgetThresholdsResponse" message="tns:IStatic_SaveBudgetThresholds_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStatic" type="tns:IStatic">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDBStatus">
      <soap:operation soapAction="http://tempuri.org/IStatic/GetDBStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <soap:operation soapAction="http://tempuri.org/IStatic/AuthenticateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <soap:operation soapAction="http://tempuri.org/IStatic/RegisterUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/IStatic/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ForgotPassword">
      <soap:operation soapAction="http://tempuri.org/IStatic/ForgotPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllStaticData">
      <soap:operation soapAction="http://tempuri.org/IStatic/GetAllStaticData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCategories">
      <soap:operation soapAction="http://tempuri.org/IStatic/GetAllCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTypeTransactionReasons">
      <soap:operation soapAction="http://tempuri.org/IStatic/GetAllTypeTransactionReasons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTypeTransactions">
      <soap:operation soapAction="http://tempuri.org/IStatic/GetAllTypeTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpcomingNotifications">
      <soap:operation soapAction="http://tempuri.org/IStatic/GetUpcomingNotifications" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyncStaticData">
      <soap:operation soapAction="http://tempuri.org/IStatic/SyncStaticData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyncCategories">
      <soap:operation soapAction="http://tempuri.org/IStatic/SyncCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyncTypeTransactionReasons">
      <soap:operation soapAction="http://tempuri.org/IStatic/SyncTypeTransactionReasons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyncNotifications">
      <soap:operation soapAction="http://tempuri.org/IStatic/SyncNotifications" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyncTypeTransactions">
      <soap:operation soapAction="http://tempuri.org/IStatic/SyncTypeTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyncTypeFrequencies">
      <soap:operation soapAction="http://tempuri.org/IStatic/SyncTypeFrequencies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyncTypeIntervals">
      <soap:operation soapAction="http://tempuri.org/IStatic/SyncTypeIntervals" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyncBudgetThresholds">
      <soap:operation soapAction="http://tempuri.org/IStatic/SyncBudgetThresholds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCategories">
      <soap:operation soapAction="http://tempuri.org/IStatic/SaveCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveTypeTransactionReasons">
      <soap:operation soapAction="http://tempuri.org/IStatic/SaveTypeTransactionReasons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveNotifications">
      <soap:operation soapAction="http://tempuri.org/IStatic/SaveNotifications" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveTypeTransactions">
      <soap:operation soapAction="http://tempuri.org/IStatic/SaveTypeTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveTypeFrequencies">
      <soap:operation soapAction="http://tempuri.org/IStatic/SaveTypeFrequencies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveTypeIntervals">
      <soap:operation soapAction="http://tempuri.org/IStatic/SaveTypeIntervals" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveBudgetThresholds">
      <soap:operation soapAction="http://tempuri.org/IStatic/SaveBudgetThresholds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Static">
    <wsdl:port name="BasicHttpBinding_IStatic" binding="tns:BasicHttpBinding_IStatic">
      <soap:address location="http://win-vvthsubpmki/BMAService/BMAStaticDataService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>