products/BMA WP/Service References/BMAStaticDataService/Static.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Static" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://win-vvthsubpmki/BMAService/BMAStaticDataService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://win-vvthsubpmki/BMAService/BMAStaticDataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://win-vvthsubpmki/BMAService/BMAStaticDataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BMA.BusinessLogic" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStatic_GetDBStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDBStatus" />
  </wsdl:message>
  <wsdl:message name="IStatic_GetDBStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDBStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IStatic_AuthenticateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateUser" />
  </wsdl:message>
  <wsdl:message name="IStatic_AuthenticateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IStatic_RegisterUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUser" />
  </wsdl:message>
  <wsdl:message name="IStatic_RegisterUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUserResponse" />
  </wsdl:message>
  <wsdl:message name="IStatic_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="IStatic_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IStatic_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="IStatic_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IStatic_ForgotPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ForgotPassword" />
  </wsdl:message>
  <wsdl:message name="IStatic_ForgotPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ForgotPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IStatic_GetAllCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCategories" />
  </wsdl:message>
  <wsdl:message name="IStatic_GetAllCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IStatic_GetAllTypeTransactionReasons_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTypeTransactionReasons" />
  </wsdl:message>
  <wsdl:message name="IStatic_GetAllTypeTransactionReasons_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTypeTransactionReasonsResponse" />
  </wsdl:message>
  <wsdl:message name="IStatic_GetAllTypeTransactions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTypeTransactions" />
  </wsdl:message>
  <wsdl:message name="IStatic_GetAllTypeTransactions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTypeTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="IStatic_GetAllTypeSavingsDencities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTypeSavingsDencities" />
  </wsdl:message>
  <wsdl:message name="IStatic_GetAllTypeSavingsDencities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTypeSavingsDencitiesResponse" />
  </wsdl:message>
  <wsdl:message name="IStatic_GetAllNotifications_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllNotifications" />
  </wsdl:message>
  <wsdl:message name="IStatic_GetAllNotifications_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllNotificationsResponse" />
  </wsdl:message>
  <wsdl:message name="IStatic_GetAllTypeIntervals_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTypeIntervals" />
  </wsdl:message>
  <wsdl:message name="IStatic_GetAllTypeIntervals_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTypeIntervalsResponse" />
  </wsdl:message>
  <wsdl:message name="IStatic_GetAllTypeFrequencies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTypeFrequencies" />
  </wsdl:message>
  <wsdl:message name="IStatic_GetAllTypeFrequencies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTypeFrequenciesResponse" />
  </wsdl:message>
  <wsdl:message name="IStatic_GetAllBudgetThresholds_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBudgetThresholds" />
  </wsdl:message>
  <wsdl:message name="IStatic_GetAllBudgetThresholds_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBudgetThresholdsResponse" />
  </wsdl:message>
  <wsdl:message name="IStatic_GetAllRecurrenceRules_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRecurrenceRules" />
  </wsdl:message>
  <wsdl:message name="IStatic_GetAllRecurrenceRules_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRecurrenceRulesResponse" />
  </wsdl:message>
  <wsdl:message name="IStatic_GetUpcomingNotifications_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUpcomingNotifications" />
  </wsdl:message>
  <wsdl:message name="IStatic_GetUpcomingNotifications_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUpcomingNotificationsResponse" />
  </wsdl:message>
  <wsdl:message name="IStatic_GetTypeIntervalConfiguration_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTypeIntervalConfiguration" />
  </wsdl:message>
  <wsdl:message name="IStatic_GetTypeIntervalConfiguration_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTypeIntervalConfigurationResponse" />
  </wsdl:message>
  <wsdl:message name="IStatic_SaveCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveCategories" />
  </wsdl:message>
  <wsdl:message name="IStatic_SaveCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IStatic_SaveTypeTransactionReasons_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveTypeTransactionReasons" />
  </wsdl:message>
  <wsdl:message name="IStatic_SaveTypeTransactionReasons_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveTypeTransactionReasonsResponse" />
  </wsdl:message>
  <wsdl:message name="IStatic_SaveNotifications_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveNotifications" />
  </wsdl:message>
  <wsdl:message name="IStatic_SaveNotifications_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveNotificationsResponse" />
  </wsdl:message>
  <wsdl:message name="IStatic_SaveTypeTransactions_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveTypeTransactions" />
  </wsdl:message>
  <wsdl:message name="IStatic_SaveTypeTransactions_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveTypeTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="IStatic_SaveTypeFrequencies_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveTypeFrequencies" />
  </wsdl:message>
  <wsdl:message name="IStatic_SaveTypeFrequencies_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveTypeFrequenciesResponse" />
  </wsdl:message>
  <wsdl:message name="IStatic_SaveTypeIntervals_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveTypeIntervals" />
  </wsdl:message>
  <wsdl:message name="IStatic_SaveTypeIntervals_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveTypeIntervalsResponse" />
  </wsdl:message>
  <wsdl:message name="IStatic_SaveBudgetThresholds_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveBudgetThresholds" />
  </wsdl:message>
  <wsdl:message name="IStatic_SaveBudgetThresholds_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveBudgetThresholdsResponse" />
  </wsdl:message>
  <wsdl:portType name="IStatic">
    <wsdl:operation name="GetDBStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatic/GetDBStatus" message="tns:IStatic_GetDBStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatic/GetDBStatusResponse" message="tns:IStatic_GetDBStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatic/AuthenticateUser" message="tns:IStatic_AuthenticateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatic/AuthenticateUserResponse" message="tns:IStatic_AuthenticateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatic/RegisterUser" message="tns:IStatic_RegisterUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatic/RegisterUserResponse" message="tns:IStatic_RegisterUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatic/UpdateUser" message="tns:IStatic_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatic/UpdateUserResponse" message="tns:IStatic_UpdateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatic/ChangePassword" message="tns:IStatic_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatic/ChangePasswordResponse" message="tns:IStatic_ChangePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ForgotPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatic/ForgotPassword" message="tns:IStatic_ForgotPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatic/ForgotPasswordResponse" message="tns:IStatic_ForgotPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatic/GetAllCategories" message="tns:IStatic_GetAllCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatic/GetAllCategoriesResponse" message="tns:IStatic_GetAllCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTypeTransactionReasons">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatic/GetAllTypeTransactionReasons" message="tns:IStatic_GetAllTypeTransactionReasons_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatic/GetAllTypeTransactionReasonsResponse" message="tns:IStatic_GetAllTypeTransactionReasons_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTypeTransactions">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatic/GetAllTypeTransactions" message="tns:IStatic_GetAllTypeTransactions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatic/GetAllTypeTransactionsResponse" message="tns:IStatic_GetAllTypeTransactions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTypeSavingsDencities">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatic/GetAllTypeSavingsDencities" message="tns:IStatic_GetAllTypeSavingsDencities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatic/GetAllTypeSavingsDencitiesResponse" message="tns:IStatic_GetAllTypeSavingsDencities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllNotifications">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatic/GetAllNotifications" message="tns:IStatic_GetAllNotifications_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatic/GetAllNotificationsResponse" message="tns:IStatic_GetAllNotifications_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTypeIntervals">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatic/GetAllTypeIntervals" message="tns:IStatic_GetAllTypeIntervals_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatic/GetAllTypeIntervalsResponse" message="tns:IStatic_GetAllTypeIntervals_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTypeFrequencies">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatic/GetAllTypeFrequencies" message="tns:IStatic_GetAllTypeFrequencies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatic/GetAllTypeFrequenciesResponse" message="tns:IStatic_GetAllTypeFrequencies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllBudgetThresholds">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatic/GetAllBudgetThresholds" message="tns:IStatic_GetAllBudgetThresholds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatic/GetAllBudgetThresholdsResponse" message="tns:IStatic_GetAllBudgetThresholds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllRecurrenceRules">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatic/GetAllRecurrenceRules" message="tns:IStatic_GetAllRecurrenceRules_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatic/GetAllRecurrenceRulesResponse" message="tns:IStatic_GetAllRecurrenceRules_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUpcomingNotifications">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatic/GetUpcomingNotifications" message="tns:IStatic_GetUpcomingNotifications_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatic/GetUpcomingNotificationsResponse" message="tns:IStatic_GetUpcomingNotifications_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTypeIntervalConfiguration">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatic/GetTypeIntervalConfiguration" message="tns:IStatic_GetTypeIntervalConfiguration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatic/GetTypeIntervalConfigurationResponse" message="tns:IStatic_GetTypeIntervalConfiguration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatic/SaveCategories" message="tns:IStatic_SaveCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatic/SaveCategoriesResponse" message="tns:IStatic_SaveCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveTypeTransactionReasons">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatic/SaveTypeTransactionReasons" message="tns:IStatic_SaveTypeTransactionReasons_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatic/SaveTypeTransactionReasonsResponse" message="tns:IStatic_SaveTypeTransactionReasons_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveNotifications">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatic/SaveNotifications" message="tns:IStatic_SaveNotifications_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatic/SaveNotificationsResponse" message="tns:IStatic_SaveNotifications_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveTypeTransactions">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatic/SaveTypeTransactions" message="tns:IStatic_SaveTypeTransactions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatic/SaveTypeTransactionsResponse" message="tns:IStatic_SaveTypeTransactions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveTypeFrequencies">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatic/SaveTypeFrequencies" message="tns:IStatic_SaveTypeFrequencies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatic/SaveTypeFrequenciesResponse" message="tns:IStatic_SaveTypeFrequencies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveTypeIntervals">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatic/SaveTypeIntervals" message="tns:IStatic_SaveTypeIntervals_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatic/SaveTypeIntervalsResponse" message="tns:IStatic_SaveTypeIntervals_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveBudgetThresholds">
      <wsdl:input wsaw:Action="http://tempuri.org/IStatic/SaveBudgetThresholds" message="tns:IStatic_SaveBudgetThresholds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStatic/SaveBudgetThresholdsResponse" message="tns:IStatic_SaveBudgetThresholds_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStatic" type="tns:IStatic">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDBStatus">
      <soap:operation soapAction="http://tempuri.org/IStatic/GetDBStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <soap:operation soapAction="http://tempuri.org/IStatic/AuthenticateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <soap:operation soapAction="http://tempuri.org/IStatic/RegisterUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/IStatic/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/IStatic/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ForgotPassword">
      <soap:operation soapAction="http://tempuri.org/IStatic/ForgotPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCategories">
      <soap:operation soapAction="http://tempuri.org/IStatic/GetAllCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTypeTransactionReasons">
      <soap:operation soapAction="http://tempuri.org/IStatic/GetAllTypeTransactionReasons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTypeTransactions">
      <soap:operation soapAction="http://tempuri.org/IStatic/GetAllTypeTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTypeSavingsDencities">
      <soap:operation soapAction="http://tempuri.org/IStatic/GetAllTypeSavingsDencities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllNotifications">
      <soap:operation soapAction="http://tempuri.org/IStatic/GetAllNotifications" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTypeIntervals">
      <soap:operation soapAction="http://tempuri.org/IStatic/GetAllTypeIntervals" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTypeFrequencies">
      <soap:operation soapAction="http://tempuri.org/IStatic/GetAllTypeFrequencies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllBudgetThresholds">
      <soap:operation soapAction="http://tempuri.org/IStatic/GetAllBudgetThresholds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllRecurrenceRules">
      <soap:operation soapAction="http://tempuri.org/IStatic/GetAllRecurrenceRules" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpcomingNotifications">
      <soap:operation soapAction="http://tempuri.org/IStatic/GetUpcomingNotifications" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTypeIntervalConfiguration">
      <soap:operation soapAction="http://tempuri.org/IStatic/GetTypeIntervalConfiguration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCategories">
      <soap:operation soapAction="http://tempuri.org/IStatic/SaveCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveTypeTransactionReasons">
      <soap:operation soapAction="http://tempuri.org/IStatic/SaveTypeTransactionReasons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveNotifications">
      <soap:operation soapAction="http://tempuri.org/IStatic/SaveNotifications" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveTypeTransactions">
      <soap:operation soapAction="http://tempuri.org/IStatic/SaveTypeTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveTypeFrequencies">
      <soap:operation soapAction="http://tempuri.org/IStatic/SaveTypeFrequencies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveTypeIntervals">
      <soap:operation soapAction="http://tempuri.org/IStatic/SaveTypeIntervals" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveBudgetThresholds">
      <soap:operation soapAction="http://tempuri.org/IStatic/SaveBudgetThresholds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Static">
    <wsdl:port name="BasicHttpBinding_IStatic" binding="tns:BasicHttpBinding_IStatic">
      <soap:address location="http://win-vvthsubpmki/BMAService/BMAStaticDataService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>