ConsoleApplication1/Service References/ServiceReference1/BMAService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BMA.BusinessLogic" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BMA.BusinessLogic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Transaction" nillable="true" type="tns:Transaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransaction" nillable="true" type="tns:ArrayOfTransaction" />
  <xs:complexType name="Transaction">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseItem">
        <xs:sequence>
          <xs:element minOccurs="0" name="Amount" type="xs:double" />
          <xs:element minOccurs="0" name="Category" nillable="true" type="tns:Category" />
          <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NameOfPlace" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TipAmount" type="xs:double" />
          <xs:element minOccurs="0" name="TransactionId" type="xs:int" />
          <xs:element minOccurs="0" name="TransactionReasonType" nillable="true" type="tns:TypeTransactionReason" />
          <xs:element minOccurs="0" name="TransactionType" nillable="true" type="tns:TypeTransaction" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Transaction" nillable="true" type="tns:Transaction" />
  <xs:complexType name="BaseItem">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BindableBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseItem" nillable="true" type="tns:BaseItem" />
  <xs:complexType name="BindableBase">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="BindableBase" nillable="true" type="tns:BindableBase" />
  <xs:complexType name="Category">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseItem">
        <xs:sequence>
          <xs:element minOccurs="0" name="CategoryId" type="xs:int" />
          <xs:element minOccurs="0" name="FromDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ToDate" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Category" nillable="true" type="tns:Category" />
  <xs:complexType name="TypeTransactionReason">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseItem">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TypeTransactionReasonId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TypeTransactionReason" nillable="true" type="tns:TypeTransactionReason" />
  <xs:complexType name="TypeTransaction">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseItem">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TypeTransactionId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TypeTransaction" nillable="true" type="tns:TypeTransaction" />
  <xs:complexType name="ArrayOfBudget">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Budget" nillable="true" type="tns:Budget" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBudget" nillable="true" type="tns:ArrayOfBudget" />
  <xs:complexType name="Budget">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseItem">
        <xs:sequence>
          <xs:element minOccurs="0" name="Amount" type="xs:double" />
          <xs:element minOccurs="0" name="BudgetId" type="xs:int" />
          <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FromDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="HasChanged" type="xs:boolean" />
          <xs:element minOccurs="0" name="IncludeInstallments" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ToDate" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Budget" nillable="true" type="tns:Budget" />
  <xs:complexType name="ArrayOfTypeTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TypeTransaction" nillable="true" type="tns:TypeTransaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTypeTransaction" nillable="true" type="tns:ArrayOfTypeTransaction" />
  <xs:complexType name="StartupInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="BudgetCount" type="xs:int" />
      <xs:element minOccurs="0" name="TargetCount" type="xs:int" />
      <xs:element minOccurs="0" name="TransactionCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StartupInfo" nillable="true" type="tns:StartupInfo" />
  <xs:complexType name="StaticTypeList">
    <xs:sequence>
      <xs:element minOccurs="0" name="Categories" nillable="true" type="tns:ArrayOfCategory" />
      <xs:element minOccurs="0" name="TypeSavingsDencities" nillable="true" type="tns:ArrayOfTypeSavingsDencity" />
      <xs:element minOccurs="0" name="TypeTransactionReasons" nillable="true" type="tns:ArrayOfTypeTransactionReason" />
      <xs:element minOccurs="0" name="TypeTransactions" nillable="true" type="tns:ArrayOfTypeTransaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StaticTypeList" nillable="true" type="tns:StaticTypeList" />
  <xs:complexType name="ArrayOfCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Category" nillable="true" type="tns:Category" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategory" nillable="true" type="tns:ArrayOfCategory" />
  <xs:complexType name="ArrayOfTypeSavingsDencity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TypeSavingsDencity" nillable="true" type="tns:TypeSavingsDencity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTypeSavingsDencity" nillable="true" type="tns:ArrayOfTypeSavingsDencity" />
  <xs:complexType name="TypeSavingsDencity">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseItem">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TypeSavingsDencityId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TypeSavingsDencity" nillable="true" type="tns:TypeSavingsDencity" />
  <xs:complexType name="ArrayOfTypeTransactionReason">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TypeTransactionReason" nillable="true" type="tns:TypeTransactionReason" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTypeTransactionReason" nillable="true" type="tns:ArrayOfTypeTransactionReason" />
</xs:schema>