ConsoleApplication1/Service References/ServiceReference1/BMAService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://win-vvthsubpmki/BMAService/BMAService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BMA.BusinessLogic" />
  <xs:complexType name="ArrayOfKeyValueOfCategoryArrayOfTransactionk_PvShZJR">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfCategoryArrayOfTransactionk_PvShZJR">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BMA.BusinessLogic" name="Key" nillable="true" type="q1:Category" />
            <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BMA.BusinessLogic" name="Value" nillable="true" type="q2:ArrayOfTransaction" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfCategoryArrayOfTransactionk_PvShZJR" nillable="true" type="tns:ArrayOfKeyValueOfCategoryArrayOfTransactionk_PvShZJR" />
</xs:schema>